<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Alışveriş APP</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">

        <a class="nav-link" *ngIf="isLoggedin()==false" routerLink="/login" style="font-size: 15px;">Login</a>
        <a *ngIf="isLoggedin()==true" (click)="logOut()" class="nav-link" style="font-size: 15px;">LogOut</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">

    <div class="row">

      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/product">
                <span data-feather="home" class="align-text-bottom"></span>
                Mağaza
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product-add-1">
                <span data-feather="file" class="align-text-bottom"></span>
                Ürün Ekle / Klasik
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product-add-2">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Ürün Ekle / Reactive 
              </a>
            
            
            
          </ul>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span></span>
            <a class="text-muted" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <router-outlet></router-outlet>

      </main>
    </div>
  </div>
</body>